*{
    background: black;
}

#today{
    border: 5px solid;
    border-color: blue;
}

#header {
    text-align: center;
    background-image: linear-gradient(to right, rgba(103,3,241,0.4), rgb(106,3,241,1));
    color: black;
}